<!--header-->
<header>
  <!--navigation avec les links et logo-->
  <nav class="zone">
    <div class="logo">GOV-E-COURSES</div>
    <ul class="main">
      <li>
        <a href="/">Inscription
        </a>
      </li>
      <li>
        <a href="/compte">Compte
        </a>
      </li>
      <li>
        <a href="/administrateur">Administrateur
        </a>
      </li>
      <li>
        <div class="cart">
          <i class="bi bi-cart2"></i>
          <div class="cartAmount">0</div>
        </div>
      </li>
    </ul>
  </nav>
  <!-- fin navigation-->
</header>