<!--Liste des cours-->

<div class="space"></div>
<div class="cours-content">
  <!--cours1-->
  <form action="/cours" method="" id="formu">
    <div class="cours-box">
      <div class="cours-img"></div>
      <h1 class="cours-titre">Titre : DDN235</h1>
      <h2 class="cours-nb">Nombre: 30</h2>
      <h3 class="cours-capacite">Capacite 12</h3>
      <p class="cours-descript">Desc: À la découverte de la cybersécurité</p>
      <div class="btn">
        <button type="button" class="btn-inscrire">S'inscrire</button>
      </div>
    </div>
  </form>
  <!--cours2-->
  <form action="/cours" method="" id="formu">
    <div class="cours-box">
      <div class="cours-img2"></div>
      <h1 class="cours-titre">Titre : TRN418</h1>
      <h2 class="cours-nb">Nombre: 20</h2>
      <h3 class="cours-capacite">Capacite 22</h3>
      <p class="cours-descript">Desc: Aborder le feedback sous un angle positif</p>
      <div class="btn">
        <button type="button" class="btn-inscrire">S'inscrire</button>
      </div>
    </div>
  </form>
  <!--cours3-->
  <form action="/cours" method="" id="formu">
    <div class="cours-box">
      <div class="cours-img3"></div>
      <h1 class="cours-titre">Titre : COR503</h1>
      <h2 class="cours-nb">Nombre: 40</h2>
      <h3 class="cours-capacite">Capacite 32</h3>
      <p class="cours-descript">Desc: Accès à l'information</p>
      <div class="btn">
        <button type="button" class="btn-inscrire">S'inscrire</button>
      </div>
    </div>
  </form>
  <!--cours4-->
  <form action="/cours" method="" id="formu">
    <div class="cours-box">
      <div class="cours-img4"></div>
      <h1 class="cours-titre">Titre : INC122</h1>
      <h2 class="cours-nb">Nombre: 20</h2>
      <h3 class="cours-capacite">Capacite 10</h3>
      <p class="cours-descript">Desc: L'inclusion sur le lieu de travail</p>
      <div class="btn">
        <button type="button" class="btn-inscrire">S'inscrire</button>
      </div>
    </div>
  </form>
  <!--cours5-->
  <form action="/cours" method="" id="formu">
    <div class="cours-box">
      <div class="cours-img5"></div>
      <h1 class="cours-titre">Titre : TRN427</h1>
      <h2 class="cours-nb">Nombre: 10</h2>
      <h3 class="cours-capacite">Capacite 5</h3>
      <p class="cours-descript">Desc: La pensée stratégique d'un gestionnaire</p>
      <div class="btn">
        <button type="button" class="btn-inscrire">S'inscrire</button>
      </div>
    </div>
  </form>
  <!--cours6-->
  <form action="/cours" method="" id="formu">
    <div class="cours-box">
      <div class="cours-img6"></div>
      <h1 class="cours-titre">Titre : TRN103</h1>
      <h2 class="cours-nb">Nombre: 25</h2>
      <h3 class="cours-capacite">Capacite 15</h3>
      <p class="cours-descript">Desc: Améliorer ses compétences d'écoute</p>
      <div class="btn">
        <button type="button" class="btn-inscrire">S'inscrire</button>
      </div>
    </div>
  </form>
</div>